/* CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

#hvezdy-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.hvezda {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    animation: blikani infinite ease-in-out;
}

.links-container {
    position: relative;
    z-index: 2;
    display: flex;
    gap: 4rem;
    padding: 20px;
}

.gradient-link {
    font-size: clamp(2rem, 8vw, 5rem);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -2px;
    background: linear-gradient(45deg, #2c3e50, #3498db);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s ease;
    transform-origin: center;
}

.gradient-link:hover {
    transform: scale(1.1);
    text-shadow: 4px 4px 8px rgba(0,0,0,0.3);
}

@keyframes blikani {
    0%, 100% { opacity: 0.2; transform: scale(1); }
    50% { opacity: 1; transform: scale(1.8); }
}
.update-switch {
    border-radius: 0px;
    transition: transform 0.3s ease, text-shadow 0.3s ease;
    position: absolute;
    z-index: 1; /* Text bude nad hvězdami */
    right: 1%; 
    top: 7%; /* Posune horní okraj kontejneru do středu */
    height: 10%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    padding-left:10px;
    
}
.update-text {
    font-size: clamp(2rem, 1vw, 5rem);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -2px;
    background: linear-gradient(45deg, #2c3e50, #3498db);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    display: inline-block;
    transform: translateY(0);
    transition: transform 0.3s ease;
    transform-origin: right;
    margin-right: 10px;
}
.update-switch:hover{
  transform: scale(1.1) translateX(-10px); /* Posun doľava */
  transform-origin: right; /* Zabezpečí, že scaling začína sprava */
  text-shadow: -4px 4px 8px rgba(0, 0, 0, 0.3); /* Tieň na ľavej strane */
}
